{{#each questions as |question|}}
  {{log question}}
  <section data-id="{{question._id}}" class='take-survey-list'>

      <h6> {{question.title}} </h6>
        <button data-id="{{question._id}}" title="Take" class="btn btn-primary take-survey-btn">
          Take
        </button>
  </section>
  {{/each}}
<div class=survey-action-message></section>
