@import '~bootstrap/scss/bootstrap';
@import './styling';

.user-settings {
  display: none;
}

.after-auth {
  display: none;
}

.update-question {
  display: none;
}

body {
  text-align: center;
}

.question-box {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}

li {
  list-style-type: none;
}
